/* variables */
:root{
    --gradient1: hsl(6, 100%, 80%);
    --gradient2:hsl(335, 100%, 65%);
    --pale-blue: hsl(243, 100%, 93%);
    --grayish-blue: hsl(229, 7%, 55%);
    --dark-blue: hsl(228, 56%, 26%);
    --very-dark-blue: hsl(229, 57%, 11%);
}

/* resets */
body, h1, div, span{
    padding: 0;
    margin: 0;
}


/* base styles */

.grid{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}
p{
    color: var(--pale-blue);
}
h4{
    color: rgba(255,255,255,0.7)
}
span{
    color: var(--pale-blue);
}
h1 span{
    color: #666;
}

/* fonts */
    body{
        font-size: 14px;
        font-family: 'Raleway', sans-serif;
    }
    p{
        font-size: 0.9em;
        font-weight: 700;
        letter-spacing: .7px;
    }
    h4{
        font-size: 1em;
        font-weight: 400;
        word-spacing: 1;
        letter-spacing: .6px;
    }  
    h4 span{
        font-weight: 700;
    }
    h1 span{
        font-weight: 700;
        font-size: .45em;
        letter-spacing: 1.3px;
        text-transform: uppercase;
    }

/* mobile styles */
    body{
        background: url(images/bg-mobile.png) no-repeat;
        background-size: cover;
        height: 77vh;
    }
    .container{
        /* border: 2px solid tomato; */
        width: 70%;
        margin: 150px auto 0;
        grid-template-columns: 1fr;
    }
    .main-module{
        width: 100%;
        max-width: 360px;
        padding: 2.5em;
        margin-bottom: 30px;
        box-sizing: border-box;
        background-color: var(--dark-blue);
        display: flex;
        height: 220px;
        flex-direction: column;
        justify-content: space-around;
        border-radius: 12px 112px 12px 12px;
        box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
    }   
    .main-module .logo{
        height: 38px;
        max-width: 130px;
    }
    .icon-set{
        display: flex;
        flex-direction: row;
    }
    .icon-container{
        background-color: var(--very-dark-blue);
        border-radius: 10px;
        box-sizing: border-box;
        text-align: center;
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .icon-container + .icon-container{
        margin-left: 20px;
    }
    .icon{
        width: 25px;
        height: 20px;
    }
    .icon1{
        width: 20px;
        height: 25px;
    }
    .data-module{
        width: 100%;
        max-width: 360px;
        height: 160px;
        padding: 1em;
        margin-bottom: 50px;
        text-align: center;
        background-color: var(--dark-blue);
        box-sizing: border-box;
        border-radius: 12px;
        box-shadow: 0px 10px 10px rgba(0,0,0,0.2);
        display: flex;
        flex-direction: column;
        
    }
    #progress-bar{
        background-color: #14204A;
        height: 20px;
        width: 85%;
        margin: 0 auto;
        border-radius: 50px;
    }
    #progress-bar .progress{
        background: linear-gradient( 0.25turn,hsl(6, 100%, 80%), hsl(335, 100%, 65%));
        width: 72%;
        height: 14px;
        margin: 3px;
        border-radius: 50px; 
        position: relative;
    }
    .progress .ellipse{
        display: inline-block;
        background-color: #fff;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        margin: 1.28px;
        position: absolute;
        right: 1px;
    }
    .data-range{
        width: 85%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    .data-remain{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        width: 55%;
        margin: 0 auto;
        padding: .8em 0;
        border-radius: 10px;
        position: relative;
        top: 5px;
    }
    .attribution { 
        font-size: 11px; text-align: center; 
    }
    .attribution a { 
        color: hsl(228, 45%, 44%); 
    }
    

/* small tablet styles*/
@media screen and ( min-width:600px){
    body{
    }
}

/* large tablet and laptop styles*/
@media screen and ( min-width:960px){
    body{
        font-size: 12px;
        background-color: #0C122C;
        background-image: url(images/bg-desktop.png);
        background-repeat: no-repeat;
        background-position-y: bottom;
        background-size: 1366px;
    }
    .container{
        max-width: 900px;
        width: 80%;
        margin-left: 150px;
        grid-template-columns: repeat(10, 1fr);
        gap: 10px;
    }
    .main-module{
        grid-column: 2/ span 3;
        align-self: center;
        height: 140px;
        margin-bottom: 0;
        border-radius: 8px 65px 8px 8px;
        width: 95%;
        max-width: 260px;
        padding: 2em;
        justify-content: space-around;
        margin-top: 30px;
    } 
    .main-module .logo{
        height: 28px;
        max-width: 90px;
    }
    .icon-container{
        border-radius: 6px;
        width: 30px;
        height: 30px;
    }
    .icon-container + .icon-container{
        margin-left: 10px;
    }
    .icon{
        width: 18px;
        height: 13px;
    }
    .icon1{
        width: 13px;
        height: 18px;
    }
    .data-module{
        grid-column:5/ span 7;
        align-self: center;
        height: 100px;
        margin-bottom: 0;
        margin-top: 70px;
        border-radius: 8px;
        max-width: 600px;
        text-align: left;
        padding: 0;
        margin-bottom: 0;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: 1fr auto 1fr;
    }
    .data-module h4{
        grid-column:2/ span 5;
        grid-row: 1/2;
    }
    #progress-bar{
        height: 14px;
        grid-column:2/ span 9;
        margin: 0;
    }
    #progress-bar .progress{
        height: 8px;
        margin: 3px;
    }
    .progress .ellipse{
        width: 6px;
        height: 6px;
        margin: 1.1px;
    }
    .data-range{
        grid-column:2/ span 9;
        margin: 0;
    }
    .data-remain{
        grid-column:7/ span 4;
        grid-row: 1/2;
        margin: 0;
        width: 125px;
        padding: .8em 0;
        border-radius: 10px;
        position: relative;
        top: -30px;
        right: -15px;
        border-radius: 6px;
        position: relative;
    }
    .data-remain::after{
        content: '';
        display: block;
        /* width: 20px;
        height: 20px; */
        border-right: 20px solid transparent;
        border-left: 20px solid transparent;
        border-top: 20px solid #fff;
        position: absolute;
        right: -10px;
        bottom: -3px;
        transform: rotate(90deg);
    }
    .attribution{
        grid-column: 5/ span 3;
    }



}